<div id="datasheet-financial-form">

	<div layout-gt-sm="row">
        <div class="col-md-12">
            <h4>Payoffs</h4>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th>Remit To</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zipcode</th>
                        <th>Account Number</th>
                        <th>Balance</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payoff in payoffsCtrl.payoffs" class="align-middle">
                        <td class="align-middle">
                            <a class="btn btn-primary" href="#" aria-label="edit">
                                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="align-middle">{{ payoff.type }}</td>
                        <td class="align-middle">{{ payoff.remitTo }}</td>
                        <td class="align-middle">{{ payoff.remitAddress }}</td>
                        <td class="align-middle">{{ payoff.remitCity }}</td>
                        <td class="align-middle">{{ payoff.remitState }}</td>
                        <td class="align-middle">{{ payoff.remitZipcode }}</td>
                        <td class="align-middle">{{ payoff.accountNumber }}</td>
                        <td class="align-middle">{{ payoff.balance | currency}}</td>
                        <td class="align-middle">
                            <a class="btn btn-danger" href="#" aria-label="Delete">
						        <i class="fa fa-trash-o" aria-hidden="true"></i>
						    </a>
						</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8" align="right">Total</th>
                        <th>{{ 330.00 | currency }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

	<div layout-gt-sm="row">
	<div class="col-md-4">
		<md-input-container class="md-block" flex-gt-sm>
            <label>Type</label> 
	        <md-select ng-model="user.propertyType"> 
	            <md-option ng-repeat="propertyType in propertyTypes" value="{{propertyType.display}}">{{propertyType.code}}</md-option> 
	        </md-select> 
        </md-input-container>
    </div>
    <div class="col-md-4">
		<md-input-container class="md-block" flex-gt-sm>
            <label>Remit To</label> 
	        <input ng-model="user.county">
        </md-input-container>
    </div>
    <div class="col-md-4">
		<md-input-container class="md-block" flex-gt-sm>
            <label>Address</label> 
	        <input ng-model="user.county">
        </md-input-container>
    </div>
    </div>
    <div layout-gt-sm="row">
    <div class="col-md-4">
		<md-input-container class="md-block" flex-gt-sm>
            <label>City</label> 
	        <input ng-model="user.county">
        </md-input-container>
    </div>
    <div class="col-md-4">
        <md-input-container class="md-block" flex-gt-sm>
            <label>State</label> 
            <md-select ng-model="user.propertyType"> 
                <md-option ng-repeat="propertyType in propertyTypes" value="{{propertyType.display}}">{{propertyType.code}}</md-option> 
            </md-select> 
        </md-input-container>
    </div>
    <div class="col-md-4">
		<md-input-container class="md-block" flex-gt-sm>
            <label>Zipcode</label> 
	        <input ng-model="user.county">
        </md-input-container>
    </div>
    </div>
    <div layout-gt-sm="row">
    <div class="col-md-12">
        <div class="col-md-4">
		<md-input-container class="md-block" flex-gt-sm>
            <label>Account Number</label> 
	        <input ng-model="user.county">
        </md-input-container>
    </div>
    <div class="col-md-4">
		<md-input-container class="md-block" flex-gt-sm>
            <label>Balance</label> 
	        <input ng-model="user.county">
        </md-input-container>
	</div>
	</div>
	</div>
</div>