<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover"> 
            <caption>Click on a file to see details</caption> 
            <thead> 
                <tr> 
                    <th>File ID</th> 
                    <th>Close Date</th> 
                    <th>Loan Type</th> 
                    <th>Address</th> 
                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="closing in closings" style='cursor: pointer;' onClick='doClick("1111")'>
                    <th scope="row">2007-70</th>
                    <td>04/01/2008</td>
                    <td>Purchase</td> 
                    <td>15 Warren St., Boston, MA 02101</td> 
                </tr> 
                <tr ng-repeat="closing in closings" style='cursor: pointer;' onClick='doClick("1111")'>
                    <th scope="row">2007-70-C</th>
                    <td>09/09/2007</td>
                    <td>Second Mortgage</td> 
                    <td>Lot 16 Block 4 PIN 39094, commonly known as 5546 Mt. Acara Drive, Boston, MA 02101</td> 
                </tr> 
            </tbody> 
        </table>
    </div>
</div>