<div id="datasheet-lender-form">

    <div class="row">
        <!-- FIRST column begin -->
        <div class="col-md-4" >
            
           <md-input-container class="md-block"> 
                <label>Purchase Price</label>
                <input ng-model="mortgage.address"> 
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>Loan Amount</label>
                <input ng-model="mortgage.address"> 
            </md-input-container>

            <div class="row">
                <div class="col-md-6">
                    <md-input-container class="md-block"> 
                        <label>Term</label>
                        <input ng-model="mortgage.address"> 
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block"> 
                        <label>Period</label>
                        <md-select ng-model="mortgage.state"> 
                            <md-option disabled_ng-repeat="state in states" value="{{state.abbrev}}">Yearly</md-option> 
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            
            <md-input-container class="md-block"> 
                <label>Daily Interest</label>
                <input ng-model="mortgage.address"> 
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>First Payment</label>
                <md-datepicker ng-model="ctrl.myDate"></md-datepicker> 
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>Close Date</label>
                <md-datepicker ng-model="ctrl.myDate"></md-datepicker> 
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>Listing Broker</label>
                <md-select ng-model="mortgage.state"> 
                    <md-option disabled_ng-repeat="state in states" value="{{state.abbrev}}">Yearly</md-option> 
                </md-select>
            </md-input-container>

            <div class="row">
                <div class="col-md-6">
                    <md-input-container class="md-block"> 
                        <label>Listing Broker</label>
                        <md-select ng-model="mortgage.state"> 
                            <md-option disabled_ng-repeat="state in states" value="{{state.abbrev}}">Yearly</md-option> 
                        </md-select> 
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block"> 
                        <label>Assistant</label>
                        <md-select ng-model="mortgage.state"> 
                            <md-option disabled_ng-repeat="state in states" value="{{state.abbrev}}">Yearly</md-option> 
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Commission</label> 
                <input ng-model="mortgage.city"> 
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>Selling Broker</label>
                <md-select ng-model="mortgage.state"> 
                    <md-option disabled_ng-repeat="state in states" value="{{state.abbrev}}">Yearly</md-option> 
                </md-select>
            </md-input-container>

            <div class="row">
                <div class="col-md-6">
                    <md-input-container class="md-block"> 
                        <label>Selling Broker</label>
                        <md-select ng-model="mortgage.state"> 
                            <md-option disabled_ng-repeat="state in states" value="{{state.abbrev}}">Yearly</md-option> 
                        </md-select> 
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block"> 
                        <label>Assistant</label>
                        <md-select ng-model="mortgage.state"> 
                            <md-option disabled_ng-repeat="state in states" value="{{state.abbrev}}">Yearly</md-option> 
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Commission</label> 
                <input ng-model="mortgage.city"> 
            </md-input-container>
        </div>
        <!-- FIRST column end -->
 
        <!-- SECOND column begin -->
        <div class="col-md-4" >
            <md-input-container class="md-block"> 
                <label>Appraised Value</label>
                <input ng-model="mortgage.city">  
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>Interest Rate</label>
                <input ng-model="mortgage.city">  
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>Monthly Payment</label>
                <input ng-model="mortgage.city"> 
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>Payment Day</label>
                <input ng-model="mortgage.city">  
            </md-input-container>

            <md-input-container class="md-block"> 
                <label>Recision Date</label>
                <input ng-model="mortgage.city">  
            </md-input-container>
        </div>
        <!-- SECOND column end -->

        <!-- THIRD column begin -->
        <div class="col-md-4" >
	        <md-input-container class="md-block"> 
	            <label>Total Commission</label>
	            <input ng-model="mortgage.city">  
	        </md-input-container>
	
	        <md-input-container class="md-block"> 
	            <label>Interest Type</label>
	            <md-select ng-model="mortgage.state"> 
	                <md-option disabled_ng-repeat="state in states" value="{{state.abbrev}}">Yearly</md-option> 
	            </md-select>
	        </md-input-container>
	        
	        <md-input-container class="md-block"> 
                <label>Matures</label>
                <md-datepicker ng-model="ctrl.myDate"></md-datepicker> 
            </md-input-container>
            
            <md-input-container class="md-block"> 
                <label>Disbursement</label>
                <md-datepicker ng-model="ctrl.myDate"></md-datepicker> 
            </md-input-container>
        </div>
        <!-- THIRD column end -->
 
    </div> <!-- End row -->

    
</div>